@media (width >= 768px) {
    #secondCarousel {
        height: 100vh;
    }

    .carousel-text-img {
        width: 80%;
    }

    .carousel-text {
        height: 100%;
        width: 45%;
    }

    .carousel-img {
        height: 100%;
        width: 100%;
    }
}

@media (width < 768px) {
    .carousel-text-img {
        width: 100%;
    }

    .carousel-text {
        width: 100%;
    }

    .carousel-img-w {
        width: 80%;
    }

    .carousel-img {
        height: 300px;
        width: 100vw;
    }
}
