/* Variables */
.w-45 {
  width: 45%;
}

.vw-80 {
  width: 80vw;
}

.h-90 {
  height: 90%;
}

/* First Carousel */
/* Circle */
.carousel-indicators circle {
  stroke: var(--bs-light);
  stroke-width: 2;
  stroke-dasharray: 88;
  stroke-dashoffset: 0;
}

.carousel-indicators circle.active {
  animation: spin 0s linear forwards;
}

@keyframes spin {
  0% {
    stroke-dashoffset: 88;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

/* Second Carousel */
#second-carousel {
  height: 100vh;
}

#second-carousel circle {
  stroke: var(--bs-gray)
}

@media (width <= 768px) {
  #second-carousel {
    height: 100%;

    img {
      width: 300px;
    }

    .text {
      width: 80%;
    }
  }
}