/* Variables */
.w-45 {
  width: 45%;
}

.h-90 {
  height: 90%;
}

/* Circle */
circle {
  stroke: var(--bs-light);
  stroke-width: 2px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: anim linear forwards;
}

@keyframes anim {
  100% {
    stroke-dashoffset: 0;
  }
}

/* .carousel-indicators [data-bs-target]  {
  height: 28px;
  width: 28px;
  background-color: transparent;
  border: 3px solid var(--bs-light);
  border-radius: 50%;
} */

.carousel-img:nth-child(1) {
  background-image: url(../images/automobile-art-7785235_1280.jpg);
  background-position-y: 90%;
  background-size: cover;
}

.carousel-img:nth-child(2) {
  background-image: url(../images/car-7785239_1280.jpg);
  background-position-y: 90%;
  background-size: cover;
}

.carousel-img:nth-child(3) {
  background-image: url(../images/car-7785240_1280.jpg);
  background-position-y: 90%;
  background-size: cover;
}
